/**
 * classToCSS插件自动生成的全局样式，任何手动修改都会被覆盖
 * 需要手动引入到全局生效的位置，如index.html
 */
.absolute { position: absolute; }
.bg-000 { background-color: #000; }
.bottom-30 { bottom:  30px;  }
.bottom-100 { bottom:  100px;  }
.bg-00000050 { background-color: #00000050; }
.bottom-20 { bottom:  20px;  }
.color-fff { color: #fff; }
.flex { display: flex; }
.flex-col { flex-direction: column; }
.fs-50 { font-size:  50px;  }
.fw-800 { font-weight: 800; }
.fixed { position: fixed; }
.fs-80 { font-size:  80px;  }
.fw-900 { font-weight: 900; }
.fs-18 { font-size:  18px;  }
.fs-28 { font-size:  28px;  }
.fw-500 { font-weight: 500; }
.flex-row { flex-direction: row; }
.fw-700 { font-weight: 700; }
.h-full { height: 100%; }
.h-40 { height:  40px;  }
.h-60 { height:  60px;  }
.h-50 { height:  50px;  }
.h-200 { height:  200px;  }
.h-35 { height:  35px;  }
.lh-1 { line-height: 1; }
.mid-between { justify-content: space-between; }
.mid-around { justify-content: space-around; }
.mid-evenly { justify-content: space-evenly; }
.max-w-700 { max-width:  700px;  }
.max-h-1000 { max-height:  1000px;  }
.mt-100 { margin-top:  100px;  }
.max-w-400 { max-width:  400px;  }
.max-h-900 { max-height:  900px;  }
.mb-20 { margin-bottom:  20px;  }
.mt-130 { margin-top:  130px;  }
.mt-20 { margin-top:  20px;  }
.mb-30 { margin-bottom:  30px;  }
.mt-10 { margin-top:  10px;  }
.mt-5 { margin-top:  5px;  }
.px-30 { padding-left:  30px; padding-right:  30px;  }
.p-8 { padding:  8px;  }
.p-30 { padding:  30px;  }
.round { border-radius: 100%; }
.relative { position: relative; }
.r-10 { border-radius:  10px;  }
.space-between { justify-content: space-between; }
.w-full { width: 100%; }
.w-40 { width:  40px;  }
.w-25 { width:  25px;  }
.w-60 { width:  60px;  }
.w-50 { width:  50px;  }
.w-200 { width:  200px;  }
.w-35 { width:  35px;  }
.z-2 { z-index: 2; }
.z-1 { z-index: 1; }
.z-3 { z-index: 3; }
/* apply result */
.app-reset { padding:  0px;  margin:  0px;  box-sizing: content-box;  }
.mid { display: flex; align-items: center;  }
.center { display: flex; justify-content: center;  }
.mid-center { display: flex; justify-content: center; align-items: center;  }
.mid-between { display: flex; justify-content: space-between; align-items: center;  }
.mid-around { display: flex; justify-content: space-around; align-items: center;  }
.mid-evenly { display: flex; justify-content: space-evenly; align-items: center;  }
